body {
  font-family: Arial,sans-serif;
  padding: 0; /*обнуляем отступы*//*отступ внутри контейнера*/
  margin: 0;/*отступы наружу*/
  color: #222;
}
.clearfix:after{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
div {
  box-sizing: border-box; /*для всех див не учитывать паддинг при формировании длинны и высоты*/
}
header {
  background: url(img/not.jpg) no-repeat center top / cover;
  height: 700px;

}
.container {
  width: 930px;
  margin: 0 auto;/*ставим по центру*/
}
.logo {
  margin-top: 41px;
  float: left;/*если элементы в одну строку то ставим их в нужные края*/
}
nav {
  float: right;
  margin-top: 95px;/*отступ с верху для пунктов*/
}
.menu {
  padding: 0;
  margin: 0;
  display: block;
}
.menu li {
  float: left;
  display: block;
  margin-right: 41px;/*расстояние меж пунктами меню*/
}
.menu li a {
  color: #74746e;
  text-decoration: none;/*убираем подчеркивание ссылки*/
  text-transform: uppercase;
  font-size: 14px;
}
.titlts_first {
  font-size: 40px;
  color: #74746e;
  text-transform: uppercase;
  text-align: center;
  margin-top: 350px;
  margin-left: 630px;
}
h1 {
  font-size: 75px;
  color: #74746e;
  text-transform: uppercase;
  text-align: center;
}


/*переходим ко второй секции*/
.title {
 padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
  color: #777;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.services {
  margin-top: 80px;
}
.services_item {
  width: 270px;
  float: left;
  text-align: center;
}
.services_item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.services_item p {
  color: #777;
  font-size: 14px;
  line-height: 1.55em;
}
.services_item:last-child{
  float: right;
}
.services_item:nth-child(2){
  margin-left: 60px;
}
#ico {
  width: 40px;
}
#services {
  padding-bottom: 120px;
}

/*3 section*/

#portf {
  background: #f7f7f7;
  padding-bottom: 120px;
}
.work{
  margin-top: 70px;
}
.work img{
  float: left;
}
.work img:nth-child(2){
  margin-left: 58px;
}
.work img:last-child{
  float: right;
}
